@page "/expenseClaimList/create"
@using ExpenseClaims.Client.Pages.ExpenseItem
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h3>Expense Claim</h3>

<h5>New Expense Claim</h5>
<MudForm>
    <MudTextField T="string" Label="Title" @bind-Value="Title" Required="true" RequiredError="Title is required" />
    <MudDatePicker Label="SubmitDate" @bind-Date="@SubmitDate" ShowWeekNumbers="true" />
    <MudDatePicker Label="ApprovalDate" @bind-Date="@ApprovalDate" ShowWeekNumbers="true" />
    <MudDatePicker Label="ProcessedDate" @bind-Date="@ProcessedDate" ShowWeekNumbers="true" />
    <MudTextField T="decimal" Label="TotalAmount" @bind-Value="TotalAmount" Required="true" RequiredError="TotalAmount is required" />
    <MudTextField T="string" Label="Status" @bind-Value="Status" Required="true" RequiredError="ProcessedDate is required" />
    <MudTextField T="string" Label="RequesterComments" @bind-Value="RequesterComments" Required="true" RequiredError="ProcessedDate is required" />
    <MudTextField T="string" Label="ApproverComments" @bind-Value="ApproverComments" Required="true" RequiredError="ProcessedDate is required" />
    <MudTextField T="string" Label="FinanceComments" @bind-Value="FinanceComments" Required="true" RequiredError="ProcessedDate is required" />
</MudForm>

<CreateEditExpenseItem ItemWrappers=@ItemWrappers Categories=@Categories Currencies="@Currencies" />

<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(()=>Create())">Create</MudButton>
