@page "/expenseClaimList"
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h3>Expense Claim List</h3>

<MudButton Variant="Variant.Filled" Link="expenseClaimList/create" style="float: right;">Create</MudButton>
@if (ClaimList == null)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <MudTable Items="@ClaimList">
        <HeaderContent>
            <MudTh>Title</MudTh>
            <MudTh>Total Amount</MudTh>
            <MudTh>Submit Date</MudTh>
            <MudTh>Status</MudTh>
            <MudTh>Detail</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Title">@context.Title</MudTd>
            <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
            <MudTd DataLabel="SubmitDate">@context.SubmitDate</MudTd>
            <MudTd DataLabel="Status">@context.Status</MudTd>

            <MudTd DataLabel="ViewDetail"><MudLink Href="@($"expenseClaimList/{context.Id}")">View</MudLink></MudTd>
        </RowTemplate>
    </MudTable>

}

