@using ExpenseClaims.Client.ViewModels

<h5>Expense Claim Items</h5>

@if (Roles != null && Roles.Value.Contains("GeneralUser"))
{
    <MudFab OnClick="@(() => AddItem())" Color="Color.Transparent" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />
}

<MudTable Items="@ItemWrapperList">
    <ColGroup>
        <col style="width:200px;" />
        <col />
        <col style="width:200px;" />
        <col />
        <col />
        <col />
        <col />
        <col style="width:70px;" />
    </ColGroup>
    <HeaderContent>
        <MudTh>Category</MudTh>
        <MudTh>Payee</MudTh>
        <MudTh>Currency</MudTh>
        <MudTh>Date</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Amount</MudTh>
        <MudTh>USD Amount</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Category">
            <MudItem xs="3" sm="4" md="6">
                <MudSelect T="int" @bind-Value="@context.Item.CategoryId" Label="Category" ReadOnly=@IsReadonly>
                    @foreach (var category in Categories)
                    {
                        <MudSelectItem Value="@(category.Id)">@category.Name</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
        </MudTd>

        <MudTextField T="string" Label="Payee" @bind-Value="@context.Item.Payee" Required="true" RequiredError="Payee is required" ReadOnly=@IsReadonly />

        <MudTd DataLabel="Currency">
            <MudItem xs="3" sm="4" md="6">
                <MudSelect T="int" @bind-Value="@context.Item.CurrencyId" Label="Currency" ReadOnly=@IsReadonly>
                    @foreach (var currency in Currencies)
                    {
                        <MudSelectItem Value="@(currency.Id)">@currency.Name</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
        </MudTd>
        <MudTd>
            <MudDatePicker Label="Submit Date" @bind-Date="context.Item.Date" Required="true"  Disabled=@IsReadonly />
        </MudTd>
        <MudTd>
            <MudTextField T="string" @bind-Value="@context.Item.Description" Label="Description" ReadOnly=@IsReadonly />
        </MudTd>
        <MudTd>
            <MudTextField T="double" @bind-Value="@context.Item.Amount" Required="true" TextChanged="@(() => AmountChanged(context))" RequiredError="Amount is required" ReadOnly=@IsReadonly />
        </MudTd>
        <MudTd>
            <MudTextField T="double" @bind-Value="@context.Item.UsdAmount" Required="true" RequiredError="USDAmount is required" ReadOnly=@IsReadonly />
        </MudTd>

        @if (Roles != null && Roles.Value.Contains("GeneralUser"))
        {
            <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(()=>Remove(context))">Delete</MudButton>
        }

    </RowTemplate>
</MudTable>